<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ocorreu um Erro</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="text-center bg-white p-10 rounded-lg shadow-lg">
    <svg class="mx-auto h-12 w-12 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <h1 class="mt-4 text-2xl font-bold text-gray-800">Oops! Algo deu errado.</h1>

    <p class="mt-2 text-gray-600" th:text="${errorMessage}">Mensagem de erro detalhada.</p>

    <a th:href="@{/}" class="mt-6 inline-block bg-green-600 text-white font-bold py-2 px-4 rounded hover:bg-green-700">
        Voltar para a Página Inicial
    </a>
</div>

</body>
</html>